html, body
  height: 100%
  overflow: hidden
  font-family: "PingFang SC", "Helvetica Neue", Arial, sans-serif

  .icon
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;

*
  box-sizing border-box;
  margin 0;
  padding 0
